@charset "utf-8";
/* CSS Document */




/* Font Size */
.t10px{font-size:10px;}
.t12px{font-size:12px;}
.t13px{font-size:13px;}
.t14px{font-size:14px;}
.t15px{font-size:15px;}
.t16px{font-size:16px;}
.t24px{font-size:24px;}
.t33px{font-size:33px;}
/* Font Style */
.tbold{font-weight:bold;}
/* Font Color */
.gray{color:#999999;}
.blue{color:#03a9f4;}
.blue2{color:#448aff;}
.red{color:#c14116;}
.orange{color:#c78521;}


/* Margin */
.mt_10{margin-top:-10px;}
.mt_2{margin-top:-2px;}
.mt0{margin-top:0px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt17{margin-top:17px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.ml5{margin-left:5px;}
/* Padding */
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pr10{padding-right:10px;}
.pr17{padding-right:17px;}
.pl0{padding-left:0;}
.pl16{padding-left:16px;}
.pl17{padding-left:17px;}
/* Background Color */
.bg_white{background-color:#ffffff;}
.bg_blue{background-color:#03a9f4}
.bg_red{background-color:#c14116;}
.bg_line{background-color:#dcdcdc;}
.line0{border:0}



/* Align */
.center{text-align:center;}
.right{text-align:right;}
.left{text-align:left;}


/* Layout */
.flexbox{display:flex; display:-webkit-flex; align-items:center;}
.flex{display:flex; display:-webkit-flex; align-items:center; justify-content:space-between;}
.flex1{flex:1; -webkit-flex:1;}
.flex2{flex:2; -webkit-flex:2;}
.flex3{flex:3; -webkit-flex:3;}
.flex4{flex:4; -webkit-flex:4;}
.flex5{flex:5; -webkit-flex:5;}
.flex6{flex:6; -webkit-flex:6;}
.flex7{flex:7; -webkit-flex:7;}
.flex8{flex:8; -webkit-flex:8;}
.flex9{flex:9; -webkit-flex:9;}
.flex10{flex:10; -webkit-flex:10;}